.container {
    color: #eee;
}

.album_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.arrow {
    cursor: pointer;
}

.album_navigation::before,
.album_navigation::after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.annexes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #eee;
}
.header {
    display: flex;
    flex: 1;
    background-color: #eee;
    overflow: hidden;
    flex-direction: row;
}

.bar {
    margin-left: 40px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #1f8ccc;
    color: #eee;
    font-size: 0.6rem;
    transform: skewX(-30deg);
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transform: skewX(30deg);
    text-align: center;
    position: relative;
}

.bar:hover,
.bar:focus,
.bar:active {
    background-color: #283555;
    color: #eee;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: #283555;
    color: #eee;
}

.noms {
    color: #1f8ccc;
    font-weight: 800;
}

.desc {
    color: #1f8ccc;
    font-weight: 800;
    /* center*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
}
