.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    color: #eeeeee;
}
.wrapper h2 {
    text-align: center;
}

.one {
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
}
.one table {
    margin-left: auto;
    margin-right: auto;
}
.col {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}
.two {
    grid-column: 1;
    grid-row: 2;
}
.three {
    grid-column: 1;
    grid-row: 3;
}
.three table,
.three th,
.three td {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
}
.four {
    grid-column: 2;
    grid-row: 2;
}
.five {
    grid-column: 2;
    grid-row: 3;
}

.header {
    display: flex;
    flex: 1;
    background-color: #eee;
    overflow: hidden;
    flex-direction: row;
}

.bar {
    margin-left: 40px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #1f8ccc;
    color: #eee;
    font-size: 0.6rem;
    transform: skewX(-30deg);
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transform: skewX(30deg);
    text-align: center;
    position: relative;
}

.bar:hover,
.bar:focus,
.bar:active {
    background-color: #283555;
    color: #eee;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: #283555;
    color: #eee;
}

.noms {
    color: #1f8ccc;
    font-weight: 800;
}
